.features {
    max-width: 1280px;
    margin: auto;
}

.features__wrapper {
    background-color: #131325;
    padding: 4rem 2rem 2rem 2rem;
    border-radius: 15px;
    margin-top: 6rem;
}

.features__text {
    text-align: center;
}

.features__title {
    margin-inline: auto;
}

.features__description {
    max-width: 51ch;
    margin-inline: auto;
}

.features__cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 4rem;
    margin-top: 5rem;
}

.feature__card {
    background-color: #25283d;
    padding: 5rem 2rem 2rem 2rem;
    border-radius: 12px;
    flex: 1;
    min-width: 300px;
    min-height: 150px;
    position: relative;
}

.feature__card-img {
    width: 5rem;
    position: absolute;
    top: -2.5rem;
    left: 1.5rem;
}

.feature__card-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.feature__card-description {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
}