.bg {
    background: linear-gradient(to bottom, rgba(172, 60, 246, 0.267), #06061a);
}

.hero {
    display: flex;
    padding-inline: 1.25em;
    padding-top: 6rem;
    overflow: hidden;
    max-width: 1280px;
    margin-inline: auto;
}

.hero__left {
    flex: 1;
}

.hero__right {
    flex: 1;
}

.hero__up-text {
    color: #2EB1A3;
    text-transform: uppercase;
    font-weight: 600;
}

.hero__title {
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 500;
    margin-top: 0.75rem;
    max-width: 15ch;
}

.hero__description {
    font-size: 0.9rem;
    font-weight: 300;
    opacity: 0.6;
    line-height: calc(1em + 0.5em);
    margin-block: 1.25em;
    max-width: 50ch;
}

.hero__button {
    font-size: 1.25rem;
    background: linear-gradient(to right, #E8546B, #ac3cf6);
    padding: 0.5rem 1.5em;
    border-radius: 8px;
    color: black;
}

/* HERO RIGHT */
.hero__img {
    transform: rotate(15deg);
    max-width: 550px;
}

@media (width < 1024px) {
    .hero {
        flex-direction: column;
        gap: 2.5rem;
    }
    .hero__img {
        width: 90%;
        max-width: 400px;
        display: flex;
        margin: auto;
    }
}

@media (width < 475px) {
    .hero__title {
        font-size: 2.5rem;
    }
}