.info {
    padding-top: 2rem;
    max-width: 1280px;
    margin-inline: auto;
}

.line {
    margin: auto;
    width: 90%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
}

.items__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 5rem;
    padding-inline: 1.25rem;
}

.item {
    flex: 1;
    min-width: 150px;
}

.item__title {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
}

.item__description {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    text-align: center;
}

/* INFO WRAPPER */

.info__wrapper {
    display: flex;
    align-items: center;
    padding-inline: 1.25rem;
    gap: 1.5rem;
    margin-top: 7rem;
}

.info__left {
    flex: 1;

}

.info__right {
    flex: 1;
}

.section__up--text {
    color: #2EB1A3;
    text-transform: uppercase;
    font-weight: 600;
}

.section__title {
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 500;
    margin-top: 0.75rem;
    max-width: 15ch;
}

.section__description {
    font-size: 0.9rem;
    font-weight: 300;
    opacity: 0.6;
    line-height: calc(1em + 0.5em);
    margin-block: 1.25em;
    max-width: 50ch;
}

.section__button {
    font-size: 1.25rem;
    background: linear-gradient(to right, #E8546B, #ac3cf6);
    padding: 0.5rem 1.5em;
    border-radius: 8px;
    color: black;
}

@media (width < 1024px) {
    .info__wrapper {
        flex-direction: column;
    }
    .section__title {
        max-width: 16ch;
    }
    .section__description {
        max-width: 60ch;
    }
}

@media (width < 475px) {
    .section__title{
        font-size: 2.5rem;
    }
}