.info2 {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-inline: 1.25rem;
}

.info2__wrapper {
    display: flex;
    gap: 3rem;
}

.info2__flex1 {
    flex: 1;
}

.info2__img {
    width: 100%;
    max-width: 500px;
}

.info2__img {
    order: 1;
}

.info2__button {
    background: none;
    color: #2EB1A3;
    font-weight: 600;
    font-size: 1.125rem;
    text-decoration: underline;
}

@media (width < 1024px) {
    .info2__wrapper {
        flex-direction: column;
        align-items: center;
    }
    
    .info2__img {
        order: 0;
    }
}